# Build directories
build/
build-release/
build-sanitize/
build-profile/
cmake-build-*/

# macOS
.DS_Store

# VS Code
.vscode/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake
compile_commands.json

# Logs
*.log

# Executables
cmarket
